/* estilos.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("./source/christmas-tree-2928142_1280.jpg");
    background-size: 100% 100%;
}
h1{
    font-family: 'Mountains of Christmas', serif;
    color: #f00;
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px 15px #505050;

}
input{
    opacity: 0.7;
}
input, button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.card{
    background-image:  url("./source/christmas-2932077_1280.jpg");
    background-size: 100%;
    object-fit: scale-down;

}

#loginContainer, #resultadoSorteo {
    text-align: center;
}

#resultadoSorteo{
    background-image: url("./source/christmas-6803411_1280.jpg");
    background-size: 100% 100%;
}

#idRegalo{
    font-family: 'Mountains of Christmas', serif;
    color: #f00;
}

#listPerson{
    font-family: 'Mountains of Christmas', serif;
    font-weight: bold;
}
#listPerson b{
    font-size: 1.2em;
}

.firework {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    animation: fireworks 2s infinite;
    margin: 0;
    padding: 0;
}

.fireworkBlue{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgb(175, 208, 250);
    border-radius: 50%;
    opacity: 0;
    animation: fireworksBlue 2s infinite;
    margin: 0;
    padding: 0;
}

.fireworkYellow{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgb(254, 247, 148);
    border-radius: 50%;
    opacity: 0;
    animation: fireworksYellow 2s infinite;
    margin: 0;
    padding: 0;
}

@keyframes fireworks {
    0%,100% { 
        transform: scale(0.5); opacity: 1; 
    }
    50% { 
        transform: scale(1.5); opacity: 0; 
    }
}

@keyframes fireworksBlue {
    0%,100% { 
        transform: scale(0.5); opacity: 0; 
    }
    50% { 
        transform: scale(1.5); opacity: 1; 
    }
}

@keyframes fireworksYellow {
    25%,75% { 
        transform: scale(0.5); opacity: 1; 
    }
    0%, 100%{ 
        transform: scale(1.5); opacity: 0; 
    }
}

/* ------------------------------------------------------------------ */

@media screen and (max-width: 768px) {
    #loginBox {
        margin: 20px;
        padding: 15px;
    }

    input, button {
        margin: 10px 0;
    }

    body{
        background-image: url("./source/christmas-tree-scale.jpg");
        background-size: cover;
        /* object-fit: scale-down; */
    }

}
/* ------------------------------------------------------------------ */
@media screen and (max-width: 600px) {
    body{
        background-image: url("./source/christmas-tree-scale2.jpg");
        background-position: center center;
        background-attachment: fixed;
        object-fit: none;
    }
}
